table{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0px;
}
td{
    border: 1px solid black;
    margin: 0px;
}
img{
    width: 50%;
    height: auto;
}
#titulo{
    background-color: rgba(21, 8, 33, 0.683);
    border: 1px solid black;
}
#album{
    background-color: grey;
}